# Секрети та конфігурація
config.json
.env

# База даних (SQLite)
# Ми ігноруємо її, бо на хостингу вона створиться автоматично, 
# а локальна база з вашими тестами не повинна заважати серверу.
*.sqlite
*.db

# Тимчасові файли Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Віртуальні середовища (якщо створювали локально)
venv/
env/
ENV/
.venv/

# Файли Streamlit та логів
.streamlit/config.toml
*.log

# Файли ОС
.DS_Store
Thumbs.db