# Секрети та налаштування
config.json
.env
.streamlit/secrets.toml

# База даних (вона створиться на сервері сама)
*.sqlite
*.db

# Python
__pycache__/
*.py[cod]
.venv/

# Моделі OCR (вони завантажаться один раз на сервері)
ocr_models/
